<h1>My Log Book</h1>

<%= image_tag current_user.avatar.url(:medium) %>

<%= render 'form'  %> 

<% @records.each do |record| %>
  <div id="record">
    <ul class="record_item">
      <li><%= record.comments %></li>
      <li><%= record.distance %></li>
      <li><%= record.rating %></li>
    </ul>
  </div>
<% end %>
