
<div class="row">
	<div class="container">
		<div class="col-md-3">
			<%= content_tag :div, "", id: "records_chart", data:{records: @records} %>
		</div>
		<div class="col-md-9">

			<%= render 'form'  %> 

			<% @records.each do |record| %>
			  <div id="record" class="record_container">
			  	<div class="row">
			  		<div class="col-md-2">
			  			<%= image_tag current_user.avatar.url(:thumb) %>
			  			
       						<div class="record_btns"><%= link_to 'Edit record', edit_record_path(record), class: 'btn btn-info btn-xs btn-block' %></div>
       						<div class="record_btns"><%= link_to 'Delete record', record, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs btn-block' %></div>
       					
					</div>
					<div class="col-md-10">
					    <ul class="record_item">
					      <h2><%= record.date %></h2>
					      <p><%= record.comments %></p>
					    	<div class="row recordspace">
						      <div class="col-md-6">Distance walked: <strong><%= record.distance %></strong></div>
						      <div class="col-md-6">You gave this walk a rating of: <strong><%= record.rating %></strong></div>
					  		</div>
					    </ul>
					</div>
				</div>
			  </div>
			<% end %>
		</div>
	</div>
</div>



