<p id="notice"><%= notice %></p>

<p>
  <strong>Comments:</strong>
  <%= @record.comments %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @record.distance %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @record.rating %>
</p>

<p>
  <strong>Date:</strong>
  <%= @record.date %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
